body {
	width: 80%;
	margin: 20px auto;
	border: 20px solid #bdc3c7;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	max-width: 700px;
}

div {
	padding-left: 2px;
	padding-right: 2px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
}

h2 {
	color: #2c3e50;
	font-weight: 700;
	font-size: 2.0em;
}

.first {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

hr {
	color: #bdc3c7;
}